<!DOCTYPE HTML>
<html>
   <head>
      <title>Flask-SocketIO Test</title>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <link rel="stylesheet" href="static/jquery-ui.min.css">
   <script src="static/jquery-3.2.1.min.js"></script>
   <script src="static/jquery-ui.min.js"></script>
   <script src="static/plotly-latest.min.js"></script>
   <script src="static/gauge.min.js"></script>
   <script type="text/javascript" charset="utf-8">
         $( function() {
           $( "#tabs" ).tabs({
             event: "mouseover"
           });
         });
         $(document).ready(function() {
           var msg = undefined; 
           var xAx = new Array();
           var yAx = new Array();
           
          var gauge = new RadialGauge({
          renderTo: 'canvasid',
          width: 300,
          height: 300,
          units: "V",
          minValue: -0.5,
          maxValue: 0.5,
          majorTicks: [
              "-0.5",
              "-0.4",
              "-0.3",
              "-0.2",
              "-0.1",
              "0.0",
              "0.1",
              "0.2",
              "0.3",
              "0.4",
              "0.5",              
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": (-0.5),
                  "to": 0.5,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
          });
         gauge.draw();
      
         
         var layout = {
           xaxis: {title: "x"},
           yaxis: {title: "y"},
           title: "data"
         };
      
         namespace = '/test';
         var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

         socket.on('connect', function() {
         socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

         socket.on('my_response', function(msg) {
         console.log(msg.data);
         $('#log').append('Received #'+msg.count+': '+msg.data+'<br>').html();

         var data = [{
           x: xAx,
           y: yAx,
           mode: "lines",
           type: "scatter"
         }];

         gauge.value = msg.data;

         xAx.push(parseFloat(msg.count));

         yAx.push(parseFloat(msg.data));

         Plotly.newPlot("plotdiv", data, layout);
         });

         $('form#emit').submit(function(event) {
           socket.emit('my_event', {value: $('#emit_value').val()});
           return false; });
         $('#buttonValStart').click(function(event) {
          console.log($('#buttonValStart').val());
          socket.emit('click_eventStart', {value: $('#buttonValStart').val()});
          return false; });
         $('#buttonValStop').click(function(event) {
          console.log($('#buttonValStop').val());
          socket.emit('click_eventStop', {value: $('#buttonValStop').val()});
         return false; });
         $('form#disconnect').submit(function(event) {
           socket.emit('disconnect_request');
           return false; });      
           
         $('form#recordDb').submit(function(event) {
                  var layout = {
          title: 'Vykreslenie priebehu',
          xaxis: {
            title: 'count'
          },
          yaxis: {
            title: 'y'
          }
        };
                  
      var $link = "dbdata/"+$('#valueDb').val();
      
    $.ajax({
      type: "POST",
      url: $link,
      success:function(data) 
      { console.log(data);  
        data = JSON.parse(data);
        console.log(data);    
        n = Object.keys(data).length;
        console.log(n);
        
        xl = [];
        yl = [];
        
        for (var i=0; i< n; i++){
          xl.push(data[i].x);
          yl.push(data[i].y); 
       }
          
        var trace = [{
            x: xl,
            y: yl}];  
        
        console.log("traces", trace);
        Plotly.newPlot($('#plotdivId')[0],trace,layout);         
      }
    }).done(function( o ) {
       
    });    
    
      return false });
      
      $('form#recordFile').submit(function(event) {
                  var layout = {
          title: 'Vykreslenie priebehu',
          xaxis: {
            title: 'count'
          },
          yaxis: {
            title: 'y'
          }
        };
                  
      var $link = "read/"+$('#valueFile').val();
      
    $.ajax({
      type: "POST",
      url: $link,
      success:function(data) 
      { console.log(data);  
        data = JSON.parse(data);
        console.log(data);    
        n = Object.keys(data).length;
        console.log(n);
        
        xl = [];
        yl = [];
        
        for (var i=0; i< n; i++){
          xl.push(data[i].x);
          yl.push(data[i].y); 
       }
          
        var trace = [{
            x: xl,
            y: yl}];  
        
        console.log("traces", trace);
        Plotly.newPlot($('#plotdivRow')[0],trace,layout);         
      }
    }).done(function( o ) {
       
    });    
    
      return false });
              
         });
      </script>

   </head>
   <body>
      <h1>Flask-SocketIO Test</h1>
      <h2>Send:</h2>
      <form id="emit" method="POST" action='#'>
         <input type="text" name="emit_value" id="emit_value" placeholder="Value">
         <input type="submit" value="Send regulate value">
      </form>
      <br>
      <button id="buttonValStart" type="submit" value="send">START</button>
      <button id="buttonValStop" type="submit" value="stop">STOP</button>
      <form id="disconnect" method="POST" action="#">
         <input type="submit" value="Disconnect">
      </form>
      <br><br>
      <div id="tabs">
         <ul>
            <li><a href="#tabs-1">LOG</a></li>
            <li><a href="#tabs-2">GRAF</a></li>
            <li><a href="#tabs-3">CIFERNIK</a></li>
            <li><a href="#tabs-4">DB</a></li>
            <li><a href="#tabs-5">FILE</a></li>
         </ul>
         <div id="tabs-1">
            <h2>Receive:</h2>
            <div id="log"></div>
         </div>
         <div id="tabs-2">
            <div id="plotdiv" style="width:600px;height:250px;"></div>
         </div>
         <div id="tabs-3">
            <canvas id="canvasid"></canvas>
         </div>
         <div id="tabs-4">
            <form id = "recordDb" method="POST" action='#'>
  <input type="text" name="value" id="valueDb" placeholder="cislo zaznamu v databaze">
  <input type="submit" value="Set">
</form>
            
            <div id="plotdivId" style="width:600px;height:250px;"></div>
         </div>
         
         <div id="tabs-5">
            <form id = "recordFile" method="POST" action='#'>
  <input type="text" name="value" id="valueFile" placeholder="cislo riadku vo file">
  <input type="submit" value="Set">
</form>
            <div id="plotdivRow" style="width:600px;height:250px;"></div>
         </div>
      </div>
   </body>
</html>
